<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/styles.css"/>

    <title>Portfolio</title>
</head>
<body id="page-top">
    <header>
        <div class="container">
            <nav class="nav">
                
            </nav>
        </div>
    </header>
    <div class="socials-container">
        <a href="https://www.linkedin.com/in/kayden-rios" class="icon1" target="_blank" rel="noopener noreferrer"><img class="linkedin" src="/static/img/linkedin.png"></a>
        <a href="https://github.com/KaydenR" class="icon2" target="_blank" rel="noopener noreferrer"><img class="github" src="/static/img/github.png"></a>
        <a href="mailto:projdevkr@gmail.com" class="icon3" target="_blank" rel="noopener noreferrer"><img class="gmail" src="/static/img/gmail.png"></a>
    </div>
    <section class="space-section">
        <h1>Kayden Rios</h1>
        <h2>Full stack and UX/UI Developer</h2>
        <h3>The Sky is the Limit...</h3>
        <img class="astronaut" src="/static/img/astro.gif" alt="astronaut">
        <a href="#about" class="arrow-link">
            <img class="down-arrow" id="down-arrow" src="/static/img/warrow.png" alt="arrow">
        </a>
    </section>
    <section class="about-section" id="about">
        <h1>About Me</h1>
        <h2>Full stack developer with a passion for my craft and a strong drive to learn. Self motivating and self taught, I push myself to expand on my knowlege of technologies and languages, never being afraid to take on a good challenge.</h2>
    </section>
    <section class="carousel">
        <h1>Skills:</h1>
        <div class="items">
            <div class="item active">
                <img src="/static/img/html.png">
            </div>
            <div class=" item next">
                <img src="/static/img/CSS.png">
            </div>
            <div class="item">
                <img src="/static/img/JS.png">
            </div>
            <div class="item">
                <img src="/static/img/python.png">
            </div>
            <div class="item prev">
                <img src="/static/img/API.png">
            </div>
            <div class="button-container">
                <div class="button"><img class="carousel-button" src="/static/img/leftarrow.png"></div>
                <div class="button"><img class="carousel-button" src="/static/img/rightarrow.png"></div>
            </div>
        </div>
    </section>
    <script src="/static/js/script.js"></script>
</body>
</html>